<section class="invoice">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer Id</th>
              <th>Discount</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of data">
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.customer_id }}</td>
                <td>{{ invoice.discount }}</td>
                <td>{{ invoice.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>