<section class="products-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="prodForm" (ngSubmit)="onSubmit(prodForm.value)" [class.error]="!prodForm.valid && prodForm.touched" novalidate>
            <div class="form-group" [class.error]="!name.valid && name.touched">
              <label for="" class="control-label">Name</label>
              <input type="text" placeholder="Enter product name" class="form-control" [formControl]="prodForm.controls['name']">
              <div *ngIf="!prodForm.controls['name'].valid && prodForm.controls['name'].touched" class="alert alert-danger">name is invalid</div>
              <!-- <div *ngIf="prodForm.controls['name'].hasError('required')" class="alert alert-danger">name is required</div> -->
            </div>
            <div class="form-group" [class.error]="!price.valid && name.touched">
              <label for="" class="control-label">Price</label>
              <input type="text" placeholder="Enter product price" class="form-control" [formControl]="prodForm.controls['price']">
              <div *ngIf="!prodForm.controls['price'].valid && prodForm.controls['price'].touched" class="alert alert-danger">name is invalid</div>              
              <!-- <div *ngIf="prodForm.controls['name'].hasError('required')" class="alert alert-danger">price is required</div>               -->
            </div>
            <div *ngIf="!prodForm.valid && prodForm.touched" class="alert alert-danger">Form is invalid</div>
            <div class="form-group">
              <button class="btn btn-info" type="submit" [disabled]="!prodForm.valid">Submit</button>  
            </div>
        </form>
      </div>
    </div>
  </div>
</section>