<section class="customers">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cus of data">
                <td>{{ cus.id }}</td>
                <td>{{ cus.name }}</td>
                <td>{{ cus.address }}</td>
                <td>{{ cus.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>